.button-group
  =link_to user_omniauth_authorize_path(:vkontakte), class: 'btn btn-social btn-vk' do
    Sign in with VK
    %i.fa.fa-vk
  =link_to user_omniauth_authorize_path(:github), class: 'btn btn-social btn-github' do
    Sign in with Github
    %i.fa.fa-github
